.flex {
	background-color: blue;
}
#heading {
    text-align: center;
	color: rgb(169, 174, 211);
	color: #6785aa;
	padding-top: 50px;

}

#searchbar {
	text-align: center;

}


#audiofigure {
	text-align: center;
	margin-top: 75px;

}


#audiobar {
    width: 400px;
}


#songtitle {
    color: #6785aa;
    margin-bottom: 5px;
}


#bar {
    width: 365px;
    height: 35px;
	border-radius: 25px;
	padding-left: 8px;

}


#searchbutton {
	-moz-box-shadow: 0px 14px 14px -7px #9fb4f2;
	-webkit-box-shadow: 0px 14px 14px -7px #9fb4f2;
	box-shadow: 0px 14px 14px -7px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:1px 4px 0px #27292e;
}
#searchbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
#searchbutton:active {
	position:relative;
	top:1px;
}

#playback {
	-moz-box-shadow: 0px 14px 14px -7px #9fb4f2;
	-webkit-box-shadow: 0px 14px 14px -7px #9fb4f2;
	box-shadow: 0px 14px 14px -7px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:1px 4px 0px #27292e;
}

#playback:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

#playback:active {
	position:relative;
	top:1px;
}

#results {
    color: #6785aa;
}

.artist-results {
    padding-left: 100px;
    float:left;
    width: 200px;
    height:200px;
	margin-bottom: 50px;

}

.track {
	margin-bottom: 20px;

}

.header {
	/* background-image: url('https://cdn.pixabay.com/photo/2015/07/31/15/01/guitar-869217_1280.jpg') */
	background-image: url('https://carleton.ca/music/wp-content/uploads/Piano-keys-banner.jpg');
	background-size: cover;
	height: 350px;
}

.playing {
	font-family: sans-serif;
	color: #93b7e2;

}




